FireFly Routing By FlyTag Flow for Node-RED.txt
 [{"id":"3eae8212.c1517e","type":"ibmiot","z":"1c6870e8.e3978f","name":"gpr4zb"},{"id":"93a7276.f6c58d8","type":"ibmiot","z":"82def182.7d211","name":""},{"id":"33f0a132.cc0f5e","type":"ibmiot out","z":"82def182.7d211","authentication":"apiKey","apiKey":"93a7276.f6c58d8","outputType":"evt","deviceId":"FF-K12","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K12","service":"registered","x":1016.6067733764648,"y":200.66665172576904,"wires":[]},{"id":"7deef183.82111","type":"ibmiot in","z":"82def182.7d211","authentication":"apiKey","apiKey":"3eae8212.c1517e","inputType":"evt","deviceId":"FFgateway","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT FFgateway","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":201.99996948242188,"y":369.33333110809326,"wires":[["5360980b.ac9f68","987203f1.678e"]]},{"id":"5360980b.ac9f68","type":"function","z":"82def182.7d211","name":"route by deviceID","func":"msg.payload.d.timestamp = Date();\n\nvar msg1 = new Object();\nmsg1.payload = msg.payload;\n\nswitch(msg.payload.d.deviceID){\n    case \"K12\":\n        return [msg1, , , ];\n    case \"K13\":\n        return [ ,msg1, , ];\n    case \"K14\":\n        return [ , ,msg1, ];\n    case \"K15\":\n        return [ , , ,msg1];\n}\n","outputs":"4","noerr":0,"x":514.3333129882812,"y":300.66670989990234,"wires":[["f663f32f.099c1"],["166c1053.e993f"],["5090f118.af6f1"],["e1ab75b5.1e5488"]]},{"id":"deb33720.214cc8","type":"ibmiot out","z":"82def182.7d211","authentication":"apiKey","apiKey":"93a7276.f6c58d8","outputType":"evt","deviceId":"FF-K13","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K13","service":"registered","x":1018.1428108215332,"y":246.1428804397583,"wires":[]},{"id":"510c73e4.aef38c","type":"ibmiot out","z":"82def182.7d211","authentication":"apiKey","apiKey":"93a7276.f6c58d8","outputType":"evt","deviceId":"FF-K14","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K14","service":"registered","x":1018.1428108215332,"y":297.5714387893677,"wires":[]},{"id":"de037677.21fc88","type":"ibmiot out","z":"82def182.7d211","authentication":"apiKey","apiKey":"93a7276.f6c58d8","outputType":"evt","deviceId":"FF-K15","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K15","service":"registered","x":1013.857105255127,"y":351.85717487335205,"wires":[]},{"id":"f663f32f.099c1","type":"json","z":"82def182.7d211","name":"","x":825.2856826782227,"y":200.42859077453613,"wires":[["33f0a132.cc0f5e"]]},{"id":"166c1053.e993f","type":"json","z":"82def182.7d211","name":"","x":823.8570785522461,"y":246.14289093017578,"wires":[["deb33720.214cc8"]]},{"id":"5090f118.af6f1","type":"json","z":"82def182.7d211","name":"","x":822.4285507202148,"y":297.5714530944824,"wires":[["510c73e4.aef38c"]]},{"id":"e1ab75b5.1e5488","type":"json","z":"82def182.7d211","name":"","x":822.4285087585449,"y":351.8571710586548,"wires":[["de037677.21fc88"]]},{"id":"987203f1.678e","type":"debug","z":"82def182.7d211","name":"","active":false,"console":"false","complete":"payload","x":501.4999694824219,"y":371.71431732177734,"wires":[]},{"id":"cd719836.328e68","type":"comment","z":"82def182.7d211","name":"routing messages by device id","info":"with this node you can route messages coming from a gateway\nand send them as events of different devices,\nand for instance visualize data from only one device","x":510.6666259765625,"y":242.6666488647461,"wires":[]}]