NodeRed_FF-993.txt
[{"id":"87416dd9.e53b9","type":"ibmiot out","z":"257d981e.db6608","authentication":"boundService","apiKey":"f48e5920.95a7e8","outputType":"cmd","deviceId":"FF-Rpi-GW","deviceType":"Rpi","eventCommandType":"firefly","format":"json","data":"1","qos":"","name":"IBM IoT FFtesting","service":"registered","x":840.5802612304688,"y":339.6668701171875,"wires":[]},{"id":"1640cacc.094f15","type":"inject","z":"257d981e.db6608","name":"request/response for node FF-993","topic":"firefly","payload":"\"{\\\"cmd\\\":\\\"9930\\\"}\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":259.33331298828125,"y":164.9365234375,"wires":[["aebeea7f.cf4ce8","7f1adb90.4a33f4"]]},{"id":"aebeea7f.cf4ce8","type":"json","z":"257d981e.db6608","name":"","x":535.6188850402832,"y":155.9366693496704,"wires":[["87416dd9.e53b9"]]},{"id":"7f1adb90.4a33f4","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":537.0474624633789,"y":184.50810432434082,"wires":[]},{"id":"1ff26f9d.8c7ad","type":"inject","z":"257d981e.db6608","name":"continuous response for node FF-993 every 5s","topic":"firefly","payload":"\"{\\\"cmd\\\":\\\"9931305\\\"}\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":231.33331298828125,"y":244.0476531982422,"wires":[["555a806c.0ead9","9d37c5af.a0e668"]]},{"id":"555a806c.0ead9","type":"json","z":"257d981e.db6608","name":"","x":538.6189270019531,"y":218.0478515625,"wires":[["87416dd9.e53b9"]]},{"id":"9d37c5af.a0e668","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":540.0475044250488,"y":246.6192865371704,"wires":[]},{"id":"4181e714.980b98","type":"inject","z":"257d981e.db6608","name":"turn on sensonrs on node FF-993","topic":"firefly","payload":"cmd","payloadType":"str","repeat":"","crontab":"","once":false,"x":248.33331298828125,"y":559.0477294921875,"wires":[["9c1439b3.917c38"]]},{"id":"cda48422.57ed18","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":574.0473327636719,"y":540.6195373535156,"wires":[]},{"id":"4f1f7f87.2595a","type":"inject","z":"257d981e.db6608","name":"kill continuous response for node FF-993","topic":"firefly","payload":"\"{\\\"cmd\\\":\\\"9932\\\"}\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":239.1041488647461,"y":323.3810119628906,"wires":[["67737dcc.2a1ac4","58427ce1.049284"]]},{"id":"67737dcc.2a1ac4","type":"json","z":"257d981e.db6608","name":"","x":540.3897705078125,"y":278.38116455078125,"wires":[["87416dd9.e53b9"]]},{"id":"58427ce1.049284","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":541.8183479309082,"y":306.95259952545166,"wires":[]},{"id":"d81555ce.708178","type":"comment","z":"257d981e.db6608","name":" request/response command description","info":"with this message you can request data from a node\nand you will get sensor data as return once\n\nin the inject node below first 3 places are ID\nof the node you want data from,\nfourth is the command number request/response is command 0\n\nso message structure for FF-K12 node would be\nK120","x":210.83334350585938,"y":133,"wires":[]},{"id":"c56aee8a.b5a48","type":"comment","z":"257d981e.db6608","name":"continuous response command description","info":"with this message you can request data from a node\nand you will get sensor data as return continuously\nwith interval you've written\n\nin the inject node below first 3 places are ID\nof the node you want data from,\nfourth is the command number request/response is command 1\n\nfifth is what unit of measurement you want:\n    4 meaning miliseconds\n    3 meaning seconds\n    2 meaning minutes\n    1 meaning hours\n\nand the last 2 are the time in meaning\n05 would mean 5 units of measurement\n\nand 305 at the end would mean 5 seconds\n\nso message structure for FF-K12 node would be\nK121305\nwhich means node K12 will respond every 5 seconds","x":209.83334350585938,"y":208.00005340576172,"wires":[]},{"id":"2f9b5666.9a2bfa","type":"comment","z":"257d981e.db6608","name":"Turn on all sensors on node FF-993","info":"with this message you can turn on/off sensors on a node\n\nopen function node set sensors ON/OFF\nin which you will see described in comments which parameters you can change\n\nNOTE here, if the value you select here specifies only humidity sensor\nto be turned on, any other sensor that is currently turned on, will be turned off when\nyou send this command\n","x":238,"y":529.0001220703125,"wires":[]},{"id":"dffc246a.3bd7b8","type":"comment","z":"257d981e.db6608","name":"kill continuous response command description","info":"with this message you can kill continuous response you've started \nwith command 1\n\nin the inject node below first 3 places are ID\nof the node you want data from,¸\nfourth is the command number kill continuous response is command 2\n\nso message structure for FF-K12 node would be\nK122","x":185,"y":293.00006103515625,"wires":[]},{"id":"eaf80635.532068","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":557.4284362792969,"y":379.5715637207031,"wires":[]},{"id":"317ca409.bfbd2c","type":"inject","z":"257d981e.db6608","name":"Turn on LED -> node FF-993","topic":"firefly","payload":"cmd","payloadType":"str","repeat":"","crontab":"","once":false,"x":232.00003051757812,"y":402.00006103515625,"wires":[["9e18a2ee.4718"]]},{"id":"74fe775f.8072d8","type":"comment","z":"257d981e.db6608","name":"Turn on LED","info":"Open function node called \"set outputs\"\nparameters you can change are:\n\nnode\nLED1 //turns LED1 ON or OFF\nLED2 //turns LED2 ON or OFF\nLED3 //turns LED3 ON or OFF\np0_15 //writes value to pin p0-15\np0_27 //writes value to pin p0-27","x":183.66671752929688,"y":365.9524230957031,"wires":[]},{"id":"9c1439b3.917c38","type":"function","z":"257d981e.db6608","name":"set sensors ON/OFF","func":"/*NOTE here, if the value you select here specifies only humidity sensor\nto be turned on, any other sensor that is currently turned on, will be turned off when\nyou send this command*/\n\nvar node = \"993\";  //this is the node the command is being sent to\n\nvar lux     = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar Rh      = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar temp    = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar mag     = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar accel   = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar gyro    = 1; // set to 1 if you want sensor to be on 0 for it to be off\n\nvar sensors;\n\nsensors = sensors  | (lux   << 0);\nsensors = sensors  | (Rh    << 1);\nsensors = sensors  | (temp  << 2);\nsensors =  sensors | (mag   << 3);\nsensors = sensors  | (accel << 4);\nsensors = sensors  | (gyro  << 5);\nsensors = sensors  | (1  << 6);\n\nvar char = String.fromCharCode(sensors);\n\nmsg.payload = \"{\\\"cmd\\\":\\\"\" + node + \"4\" + char + \"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":565.1663513183594,"y":504.33343505859375,"wires":[["cda48422.57ed18","87416dd9.e53b9"]]},{"id":"9e18a2ee.4718","type":"function","z":"257d981e.db6608","name":"set outputs","func":"var node = \"993\";  //this is the node the command is being sent to\n                  //if the node is called FF-K12 only write K12\n\nvar LED1    = 0; // set to 0 if you want LED1 to be on 1 for it to be off\nvar LED2    = 0; // set to 0 if you want LED2 to be on 1 for it to be off\nvar LED3    = 0; // set to 0 if you want LED3 to be on 1 for it to be off\nvar p0_15   = 0; // set to 1 if you want output p0_15 to be on 0 for it to be off\nvar p0_27   = 0; // set to 1 if you want output p0_27 to be on 0 for it to be off\n\nvar output;\n\noutput = output  | (LED1   << 0);\noutput = output  | (LED2   << 1);\noutput = output  | (LED3   << 2);\noutput = output  | (p0_15  << 3);\noutput = output  | (p0_27  << 4);\noutput = output  | (1  << 6);\n\n\n//var char = String.fromCharCode(output + 33);\nvar char = String.fromCharCode(output);\n\nmsg.payload = \"{\\\"cmd\\\":\\\"\" + node + \"3\" + char + \"\\\"}\";\nreturn msg;\n//return char;","outputs":1,"noerr":0,"x":533.9997863769531,"y":344.6668014526367,"wires":[["eaf80635.532068","87416dd9.e53b9"]]},{"id":"14c27c7.5c83a84","type":"ibmiot out","z":"257d981e.db6608","authentication":"apiKey","apiKey":"b56dd28e.c3ae4","outputType":"evt","deviceId":"FF-K12","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K12","service":"registered","x":982.606803894043,"y":864.000002861023,"wires":[]},{"id":"828e546d.dd6808","type":"ibmiot in","z":"257d981e.db6608","authentication":"boundService","apiKey":"570f63b8.d722ec","inputType":"evt","deviceId":"FF-Rpi-GW","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT FFgateway","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":122,"y":966.6666870117188,"wires":[["cbbfbe91.2f5a3","5f11d0bf.eda39"]]},{"id":"cbbfbe91.2f5a3","type":"function","z":"257d981e.db6608","name":"route by deviceID","func":"msg.payload.d.timestamp = Date();\n\nvar msg1 = new Object();\nmsg1.payload = msg.payload;\n\nswitch(msg.payload.d.deviceID){\n    case \"K12\":\n        return [msg1, , , ];\n    case \"K13\":\n        return [ ,msg1, , ];\n    case \"K14\":\n        return [ , ,msg1, ];\n    case \"K15\":\n        return [ , , ,msg1];\n}\n","outputs":"4","noerr":0,"x":480.3333435058594,"y":964.0000610351562,"wires":[["91b4e9be.3bea58"],["248a614d.9ce9ae"],["acbb3233.5f057"],["ac0cb848.cf5148"]]},{"id":"99b31ba1.6bf8c8","type":"ibmiot out","z":"257d981e.db6608","authentication":"apiKey","apiKey":"b56dd28e.c3ae4","outputType":"evt","deviceId":"FF-K13","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K13","service":"registered","x":984.1428413391113,"y":909.4762315750122,"wires":[]},{"id":"5c0c721c.a5ef9c","type":"ibmiot out","z":"257d981e.db6608","authentication":"apiKey","apiKey":"b56dd28e.c3ae4","outputType":"evt","deviceId":"FF-K14","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K14","service":"registered","x":984.1428413391113,"y":960.9047899246216,"wires":[]},{"id":"135e73ae.af933c","type":"ibmiot out","z":"257d981e.db6608","authentication":"apiKey","apiKey":"b56dd28e.c3ae4","outputType":"evt","deviceId":"FF-K15","deviceType":"FireFly","eventCommandType":"respond","format":"json","data":"1","name":"IBM IoT App Out FF-K15","service":"registered","x":979.8571357727051,"y":1015.190526008606,"wires":[]},{"id":"91b4e9be.3bea58","type":"json","z":"257d981e.db6608","name":"","x":791.2857131958008,"y":863.76194190979,"wires":[["14c27c7.5c83a84"]]},{"id":"248a614d.9ce9ae","type":"json","z":"257d981e.db6608","name":"","x":789.8571090698242,"y":909.4762420654297,"wires":[["99b31ba1.6bf8c8"]]},{"id":"acbb3233.5f057","type":"json","z":"257d981e.db6608","name":"","x":788.428581237793,"y":960.9048042297363,"wires":[["5c0c721c.a5ef9c"]]},{"id":"ac0cb848.cf5148","type":"json","z":"257d981e.db6608","name":"","x":788.428539276123,"y":1015.1905221939087,"wires":[["135e73ae.af933c"]]},{"id":"5f11d0bf.eda39","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"payload","x":467.5,"y":1035.0476684570312,"wires":[]},{"id":"58c60558.5d626c","type":"comment","z":"257d981e.db6608","name":"routing messages by device id","info":"with this node you can route messages coming from a gateway\nand send them as events of different devices,\nand for instance visualize data from only one device","x":476.6666564941406,"y":906,"wires":[]},{"id":"70f0b7c4.c48818","type":"inject","z":"257d981e.db6608","name":"Turn off LED on node FF-993","topic":"firefly","payload":"cmd","payloadType":"str","repeat":"","crontab":"","once":false,"x":271,"y":476,"wires":[["e911c581.193588"]]},{"id":"59604536.5358cc","type":"comment","z":"257d981e.db6608","name":"Turn off LED","info":"Open function node called \"set outputs\"\nparameters you can change are:\n\nnode\nLED1 //turns LED1 ON or OFF\nLED2 //turns LED2 ON or OFF\nLED3 //turns LED3 ON or OFF\np0_15 //writes value to pin p0-15\np0_27 //writes value to pin p0-27","x":219.66668701171875,"y":443.9523620605469,"wires":[]},{"id":"e911c581.193588","type":"function","z":"257d981e.db6608","name":"set outputs","func":"var node = \"993\";  //this is the node the command is being sent to\n                  //if the node is called FF-K12 only write K12\n\nvar LED1    = 1; // set to 0 if you want LED1 to be on 1 for it to be off\nvar LED2    = 1; // set to 0 if you want LED2 to be on 1 for it to be off\nvar LED3    = 1; // set to 0 if you want LED3 to be on 1 for it to be off\nvar p0_15   = 0; // set to 1 if you want output p0_15 to be on 0 for it to be off\nvar p0_27   = 0; // set to 1 if you want output p0_27 to be on 0 for it to be off\n\nvar output;\n\noutput = output  | (LED1   << 0);\noutput = output  | (LED2   << 1);\noutput = output  | (LED3   << 2);\noutput = output  | (p0_15  << 3);\noutput = output  | (p0_27  << 4);\noutput = output  | (1  << 6);\n\n\n//var char = String.fromCharCode(output + 33);\nvar char = String.fromCharCode(output);\n\nmsg.payload = \"{\\\"cmd\\\":\\\"\" + node + \"3\" + char + \"\\\"}\";\nreturn msg;\n//return char;","outputs":1,"noerr":0,"x":533.999755859375,"y":424.666748046875,"wires":[["e0a8f2a1.d1ab3","87416dd9.e53b9"]]},{"id":"e0a8f2a1.d1ab3","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":557.4284057617188,"y":459.5715103149414,"wires":[]},{"id":"787b074a.5153f8","type":"inject","z":"257d981e.db6608","name":"turn on sensonrs on node FF-993","topic":"firefly","payload":"cmd","payloadType":"str","repeat":"","crontab":"","once":false,"x":250,"y":651,"wires":[["6731ab79.b82d04"]]},{"id":"c59b06ba.3bdbf8","type":"debug","z":"257d981e.db6608","name":"","active":true,"console":"false","complete":"true","x":575.7140197753906,"y":632.5718078613281,"wires":[]},{"id":"1e256f48.6c3b71","type":"comment","z":"257d981e.db6608","name":"Turn on TEMP, HUM, LUX on node FF-993","info":"with this message you can turn on/off sensors on a node\n\nopen function node set sensors ON/OFF\nin which you will see described in comments which parameters you can change\n\nNOTE here, if the value you select here specifies only humidity sensor\nto be turned on, any other sensor that is currently turned on, will be turned off when\nyou send this command\n","x":216.66668701171875,"y":618.952392578125,"wires":[]},{"id":"6731ab79.b82d04","type":"function","z":"257d981e.db6608","name":"set sensors ON/OFF","func":"/*NOTE here, if the value you select here specifies only humidity sensor\nto be turned on, any other sensor that is currently turned on, will be turned off when\nyou send this command*/\n\nvar node = \"993\";  //this is the node the command is being sent to\n\nvar lux     = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar Rh      = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar temp    = 1; // set to 1 if you want sensor to be on 0 for it to be off\nvar mag     = 0; // set to 1 if you want sensor to be on 0 for it to be off\nvar accel   = 0; // set to 1 if you want sensor to be on 0 for it to be off\nvar gyro    = 0; // set to 1 if you want sensor to be on 0 for it to be off\n\nvar sensors;\n\nsensors = sensors  | (lux   << 0);\nsensors = sensors  | (Rh    << 1);\nsensors = sensors  | (temp  << 2);\nsensors =  sensors | (mag   << 3);\nsensors = sensors  | (accel << 4);\nsensors = sensors  | (gyro  << 5);\nsensors = sensors  | (1  << 6);\n\nvar char = String.fromCharCode(sensors);\n\nmsg.payload = \"{\\\"cmd\\\":\\\"\" + node + \"4\" + char + \"\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":566.8330383300781,"y":596.2857055664062,"wires":[["c59b06ba.3bdbf8","87416dd9.e53b9"]]},{"id":"f48e5920.95a7e8","type":"ibmiot","z":"257d981e.db6608","name":"gpr4zb"},{"id":"b56dd28e.c3ae4","type":"ibmiot","z":"257d981e.db6608","name":""},{"id":"570f63b8.d722ec","type":"ibmiot","z":"257d981e.db6608","name":"gpr4zb"}]
